In [1]:
import mysql.connector

In [8]:
#连接 mysql 的方法：connect('user','password','dbname')
conn = mysql.connector.connect(user='root', password='374682827', database='test')
#所有的查询，都在连接 con 的一个模块 cursor 上面运行的
cursor = conn.cursor()

#执行一个查询
cur.execute("SELECT VERSION()")
#取得上个查询的结果，是单个结果
data = cur.fetchone()
print ("Database version : %s " % data)
cursor.close()#先关闭游标
conn.close()#再关闭数据库连接

Database version : 5.5.45

True

In [9]:
conn = mysql.connector.connect(user='root', password='374682827', database='test')
cursor = conn.cursor()

cursor.close()
conn.close()

True

In [3]:
conn = mysql.connector.connect(user='root', password='374682827', database='test')
cursor = conn.cursor()

#创建user表
cursor.execute('drop table if exists user')
sql="""CREATE TABLE IF NOT EXISTS `user` (
	  `id` int(11) NOT NULL AUTO_INCREMENT,
	  `name` varchar(255) NOT NULL,
	  `age` int(11) NOT NULL,
	  PRIMARY KEY (`id`)
	) ENGINE=InnoDB  DEFAULT CHARSET=utf8 AUTO_INCREMENT=0"""
cursor.execute(sql)

cursor.close()
conn.close()

True

In [4]:
conn = mysql.connector.connect(user='root', password='374682827', database='test')
cursor = conn.cursor()

##插入单条数据
cursor.execute("insert into user values(1,'tom',18)")

#另一种插入数据的方式，通过字符串传入值
sql="insert into user values(%s,%s,%s)"
cursor.execute(sql,(2,'kongsh',20))

cursor.close()
conn.commit()
conn.close()

True

In [5]:
conn = mysql.connector.connect(user='root', password='374682827', database='test')
cursor = conn.cursor()

#批量插入多条数据
sql="insert into user values(%s,%s,%s)"
cursor.executemany(sql,[(3,'wen',20),(4,'tom',10),(5,'test',30)])

cursor.close()
conn.commit()
conn.close()

True

In [6]:
conn = mysql.connector.connect(user='root', password='374682827', database='test')
cursor = conn.cursor()

#一条一条获取数据
cursor.execute("select * from user;")
while 1:
    res=cursor.fetchone()
    if res is None:
        #表示已经取完结果集
        break
    print (res)

cursor.close()
conn.close()

(1, 'tom', 18)
(2, 'kongsh', 20)
(3, 'wen', 20)
(4, 'tom', 10)
(5, 'test', 30)

True

In [16]:
conn = mysql.connector.connect(user='root', password='374682827', database='test')
cursor = conn.cursor(buffered=True)

#获取一定数目的数据
cursor.execute("select * from user;")
ress = cursor.fetchmany(3)
for res in ress:
    print(res)

cursor.close()
conn.close()

(1, 'tom', 18)
(2, 'kongsh', 20)
(3, 'wen', 20)

True

In [13]:
conn = mysql.connector.connect(user='root', password='374682827', database='test')
cursor = conn.cursor()

#获取所有数据
cursor.execute("select * from user;")
ress = cursor.fetchall()
for res in ress:
    print(res)

cursor.close()
conn.close()

(1, 'tom', 18)
(2, 'kongsh', 20)
(3, 'wen', 20)
(4, 'tom', 10)
(5, 'test', 30)

True

In [18]:
conn = mysql.connector.connect(user='root', password='374682827', database='test')
cursor = conn.cursor()

#更新一条数据
cursor.execute("update user set age=100 where name='kongsh'")

cursor.close()
conn.commit()
conn.close()

True

In [19]:
conn = mysql.connector.connect(user='root', password='374682827', database='test')
cursor = conn.cursor()

#更新2条数据
sql="update user set age=%s where name=%s"
update=cursor.executemany(sql,[(15,'kongsh'),(18,'wen')])

cursor.close()
conn.commit()
conn.close()

True

In [21]:
conn = mysql.connector.connect(user='root', password='374682827', database='test')
cursor = conn.cursor()

#删除1条数据
cursor.execute("delete from user where id=1")

cursor.close()
conn.commit()
conn.close()

True

In [30]:
conn = mysql.connector.connect(user='root', password='374682827', database='test')
cursor = conn.cursor()

#删除2条数据
sql="delete from user where id=%s "
cursor.executemany(sql,[(3,), (4,)])

cursor.close()
conn.commit()
conn.close()

True